html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1b3c53;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #456882;
  padding: 1rem 2rem;
}

nav .left {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .right ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav .right ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav .right ul li a:hover {
  color: #9c97f1;
}

.section {
  padding: 80px 20px;
  max-width: 800px;
  margin: auto;
  border-bottom: 1px solid #9c97f;
}

.section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section p, .section ul {
  font-size: 1.1rem;
  line-height: 1.6;
}

.section ul {
  padding-left: 20px;
}

.section a {
  color: #62abc3;
  text-decoration: underline;
}

.section a:hover {
  color: #9c97f1;
}

footer {
  background-color: #d2c1b6;
  color: #333;
  text-align: center;
  padding: 1rem;
}

hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.5px;
    margin: 40px 84px;
}

#projects li {
    max-width: 80vw;
    margin: auto;
    background: #456882;
    padding: 1rem;
    margin-bottom: 1rem;
}





 
